= simple_form_for user, html: { class: 'form-horizontal' } do |f|
  = f.input :code, required: true
  = f.input :name, required: true
  = f.input :title, required: true
  = f.input :ci
  = f.input :email
  = f.input :username, required: true
  = f.input :phone
  = f.input :mobile
  = f.association :department, collection: status_active(Department), include_blank: false, required: true

  = render 'shared/form_buttons', user: user
