= simple_form_for user, html: { class: 'form-horizontal', id: 'admin-new-user', 'data-url-users' => users_path, 'data-url-user' => user_path('{id}') } do |f|
  = f.input :name, required: true
  = f.input :username, required: true
  = f.input :role, as: :select, collection: get_i18n_roles, include_blank: true, required: true
  = f.input :password, as: :password
  = f.input :password_confirmation, as: :password

  = render 'shared/form_buttons', user: user
