%th.text-center= mostrar_entero_float item.cantidad_entrada
%th.text-center= mostrar_entero_float item.cantidad_salida
%th.text-center= mostrar_entero_float item.cantidad_saldo
%th.number= number_with_delimiter item.costo_unitario
%th.number= number_with_delimiter item.importe_entrada
%th.number= number_with_delimiter item.importe_salida
%th.number= number_with_delimiter item.importe_saldo
