%td.text-center= mostrar_entero_float item.cantidad_entrada
%td.text-center= mostrar_entero_float item.cantidad_salida
%td.text-center= mostrar_entero_float item.cantidad_saldo
%td.number= number_with_delimiter item.costo_unitario
%td.number= number_with_delimiter item.importe_entrada
%td.number= number_with_delimiter item.importe_salida
%td.number= number_with_delimiter item.importe_saldo
