.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "modal-editar-nota-entrada"}
  .modal-dialog
    .modal-content
      = form_for :ingreso, url: ingresos_path + '/{{id}}', class: 'form-horizontal', data: {id: "{{id}}"} do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &times;
          %h4.modal-title Editar nota de ingreso
        .modal-body
          = hidden_field_tag '_method', 'PUT'
          .form-group
            %label.col-sm-4.control-label Nro nota ingreso
            .col-sm-8
              = f.text_field "numero", value: "{{numero}}", class: 'form-control nro-nota-ingreso-select', autofocus: true
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}
            %span.glyphicon.glyphicon-ban-circle
            = t('general.btn.cancel')
          %button.btn.btn-primary{type: 'submit'}
            %span.glyphicon.glyphicon-floppy-disk
            = t('general.btn.save')
