%th= t("activerecord.attributes.ingreso.numero")
%th= t("activerecord.attributes.ingreso.factura_fecha")
%th= t("activerecord.attributes.ingreso.factura_numero")
%th= t("activerecord.attributes.ingreso.supplier")
%th= t("activerecord.attributes.ingreso.telefono")
%th= t("activerecord.attributes.ingreso.users")
%th= t("activerecord.attributes.ingreso.total")
%th= t("activerecord.attributes.ingreso.nota_entrega_fecha")
