.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "modal-editar-solicitud"}
  .modal-dialog
    .modal-content
      = form_for :request, url: requests_path + '/{{id}}', class: 'form-horizontal', data: {id: "{{id}}"} do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &times;
          %h4.modal-title Editar solicitud
        .modal-body
          = hidden_field_tag '_method', 'PUT'
          .form-group
            %label.col-sm-4.control-label Nro solicitud
            .col-sm-8
              = f.text_field "nro_solicitud", value: "{{nro_solicitud}}", class: 'form-control', autofocus: true
          .form-group
            %label.col-sm-4.control-label Funcionario
            .col-sm-8
              = f.hidden_field "user_id", value: "{{user_id}}", class: 'form-control'
              = text_field_tag "usuario", "", class: 'form-control', data: {url: autocomplete_users_path(format: :json, q: '%QUERY')}
          .form-group
            %label.col-sm-4.control-label Fecha
            .col-sm-8
              = f.text_field "created_at", value: "{{created_at}}", class: 'form-control'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}
            %span.glyphicon.glyphicon-ban-circle
            = t('general.btn.cancel')
          %button.btn.btn-primary{type: 'submit'}
            %span.glyphicon.glyphicon-floppy-disk
            = t('general.btn.save')
