%th= Request.human_attribute_name('created_at')
%th= Request.human_attribute_name('nro_solicitud')
%th= Request.human_attribute_name('name')
%th= Request.human_attribute_name('title')
%th= Request.human_attribute_name('status')
