%script{ type: 'text/html', id: 'tpl-barcode' }
  %h2.text-center Código de Barras

  .col-md-12.col-sm-12
    %form#ingresos-form{role: 'form'}
      .row.has-success
        .col-md-offset-3.col-sm-offset-3.col-xs-offset-3.col-md-6.col-sm-6.col-xs-6
          = text_field_tag :code, '', class: 'form-control input-lg', placeholder: 'Código de Barras de Activos Fijos (ej. 1-10, 3x14, 17, 20, ...)', autofocus: true
        .col-md-3.col-sm-3.col-xs-3
          = button_tag class: 'nuevo-cargar-barcode btn btn-success btn-lg' do
            %span.glyphicon.glyphicon-search
            Buscar
          = hidden_field_tag :observacion
        .col-md-12.col-sm-12
          %hr

  .row
    {{#assets}}
    .col-xs-6.col-sm-4.col-md-4.col-lg-4
      .thumbnail
        .text-center
          {{detalle}}
        .barcode{ style: 'margin: 5px auto 0;', data: { barcode: '{{barcode}}' } }
          {{barcode}}
    {{/assets}}

  .row
    .action-buttons.col-md-12.col-sm-12.text-center
      = button_to pdf_barcodes_path(format: :pdf), class: 'imprimir btn btn-lg btn-primary' do
        = hidden_field_tag 'searchParam', ''
        %span.glyphicon.glyphicon-print
        Imprimir
