%th= Version.human_attribute_name('id')
%th= Version.human_attribute_name('item_id')
%th= Version.human_attribute_name('created_at')
%th= Version.human_attribute_name('event')
%th= Version.human_attribute_name('whodunnit')
%th= Version.human_attribute_name('item_spanish')
%th
