%th= Asset.human_attribute_name('incorporacion')
%th= Asset.human_attribute_name('precio')
%th= Asset.human_attribute_name('supplier')
%th= Asset.human_attribute_name('account')
%th= Asset.human_attribute_name('user')
%th= Asset.human_attribute_name('ubicacion')
%th= Asset.human_attribute_name('seguro')
