%th= Seguro.human_attribute_name("tipo")
%th= Seguro.human_attribute_name("numero_poliza")
%th= Seguro.human_attribute_name("numero_contrato")
%th= Seguro.human_attribute_name("suppliers")
%th= Seguro.human_attribute_name("fecha_inicio_vigencia")
%th= Seguro.human_attribute_name("fecha_fin_vigencia")
%th= Seguro.human_attribute_name("estado")
%th= Seguro.human_attribute_name("nro_assets")
