%th= Proceeding.human_attribute_name('fecha')
%th= Proceeding.human_attribute_name('user_id')
%th= Proceeding.human_attribute_name('admin_id')
%th= Proceeding.human_attribute_name('proceeding_type')
%th= Proceeding.human_attribute_name('created_at')
