%th= Supplier.human_attribute_name('id')
%th= Supplier.human_attribute_name('name')
%th= Supplier.human_attribute_name('nit')
%th= Supplier.human_attribute_name('telefono')
%th= Supplier.human_attribute_name('contacto')
