!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    = favicon_link_tag 'favicon.ico'

    %title Iniciar sesión
    = stylesheet_link_tag "login", media: "all"
    = csrf_meta_tags
  %body
    - if notice
      .notice= notice
    - if alert
      .alert= alert
    = yield
