.page-header
  %h1= t("accounts.title.#{params[:action]}")

.col-md-8.column.col-md-offset-1
  = simple_form_for @account, html: { class: 'form-horizontal' } do |f|
    = f.input :code
    = f.input :name

    = render 'shared/form_buttons'
